<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group" style="margin-top:0">
	<!-- wp:pattern {"slug":"twentytwentyfive/drmedgyesi-hero"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/drmedgyesi-scorecard"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/drmedgyesi-testimonials"} /-->
	<!-- wp:pattern {"slug":"twentytwentyfive/drmedgyesi-urgency"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
